/* ახსენი რა განსხვავებაა @keyframes-სა და transform-transition-ით შექმნილ ანიმაციას შეორის. */

/* @keyframes im shemtxvevashi viyenebt tu gvinda rom ramdenime nabiji gvqondes mag 0%, 50%, 100% da es ram momxmareblis gareshe daiwyos, 
xolo transform-transition mushaobs im shemtxvevashi tu momxmarebeli elements rames gauketebs mag: hover.. */