/* ჩამოთვალე animation-ის ყველა თვისება და მიუწერეთ თითოეულს  თავისი განმარტება (რას აკეთებს) */
/* animation- name(saxeli), duration(xangrdzlivoba), timing-function(sinaze), delay(dawyebamde daelodos), iteration-count(ramdenjer gaaketos),
direction(mimartuleba), fill-mode(stili), play-state(mdgomareoba(play/pause)) */