/* შექმენი ვიწრო კონტეინერი (მაგ. width: 200px)
მოათავსე სამი ელემენტი flex-ში
თითოეულს მომდე განსხვავებული flex-shrink
(მაგ. 0, 1, 3)
აჩვენე როგორ იკლებს ელემენტების ზომა ადგილის ნაკლებობისას */

.container-shrink {
    display: flex;
    width: 200px;  
    border: 2px solid black;
}

.item {
    width: 100px;
    height: 100px;
}

.a {
    background: red;
    flex-shrink: 0; 
}

.b {
    background: green;
    flex-shrink: 1;  
}

.c {
    background: blue;
    flex-shrink: 3;  
}